<%= form_with(model: favorito, local: true) do |form| %>
  <% if favorito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(favorito.errors.count, "error") %> prohibited this favorito from being saved:</h2>

      <ul>
        <% favorito.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= form.hidden_field :usuario_id, value: current_usuario.id %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :comentario %>
    <%= form.text_area :comentario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
