<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @favorito.url %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @favorito.comentario %>
</p>

<%= link_to 'Edit', edit_favorito_path(@favorito) %> |
<%= link_to 'Back', favoritos_path %>
